
.content{
  margin-top: 50px;
}
#cards {
  background: #baeaba;
  padding-top: 100px;
  text-align: center;

}
.cardBlockP{
  padding: 50px 0;
}

#card{
  background: #baeaba;
  padding: 0 15px 100px 15px;

}
