<div class="content">
  <div class="col">
    <div class="card " style="width: auto">
      <img [src]="img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 className="card-title">{{name}}</h5>
        <p className="card-text">{{info}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li className="list-group-item">Премьера: {{year}}</li>
        <li className="list-group-item">Режиссер: {{producer}}</li>
        <li className="list-group-item">Номинации: {{nominations}}</li>
      </ul>
    </div>
  </div>
</div>
