li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.card {
  float: left;
  padding: 10px;
  min-height:140vh;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 8px 0.3px rgba(0,0,0,1);
}

img {
  max-width: 333px;
  max-height: 333px;
}
