<div class="info-block">
  <div id="infoBlock">
    <div class="container">
      <h3 class="display-4">{{title}}</h3>
      <p class="lead">{{text}}</p>
    </div>
  </div>
  <div class="columns">

  <app-column img="fas fa-globe" title="Awesome Icons" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad delectus doloremque eum exercitationem iste obcaecati quam reiciendis velit voluptates."></app-column>
  <app-column img="fas fa-users" title="Awesome Icons" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad delectus doloremque eum exercitationem iste obcaecati quam reiciendis velit voluptates."></app-column>
  <app-column img="fas fa-users-cog" title="Awesome Icons" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad delectus doloremque eum exercitationem iste obcaecati quam reiciendis velit voluptates."></app-column>

</div>
</div>
